@font-face {
  font-family: "NorseBold";
  src: url("../Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: Roboto, sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  flex: 1 1 auto;
}

.image-background-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/naturebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-background-box a {
  color: white;
}

.odin-logo-box {
  width: 100%;
  height: 7rem;
  margin-top: 9.375rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin-logo-box img {
  max-width: 12.5rem;
  max-height: 5.625rem;
  width: auto;
  height: auto;
}

.odin-logo-box h1 {
  font-size: 4rem;
  font-family: NorseBold;
}

.image-credit {
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: 0.6rem;
}

.image-credit p {
  font-size: 0.875rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-top: 6.25rem;
  flex: 2 1 auto;
}

.form-wrapper {
  border-bottom: 1px solid black;
}

.container {
  padding: 0 2rem;
  max-width: 50rem;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title-wrapper p {
  font-size: 1.25rem;
  font-weight: bold;
}

.title-wrapper span {
  display: block;
}

main i {
  font-style: italic;
}

main form {
  margin-top: 3.125rem;
}

main form legend {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}

main form fieldset {
  display: grid;
  grid-template-columns: 12.5rem 12.5rem;
  gap: 1.875rem 3.75rem;
  margin: 0 -2rem;
  padding: 0 2rem;
  padding-bottom: 1.875rem;
}

main form input {
  width: 12.5rem;
}

form button {
  margin-top: 3.125rem;
}

@media only screen and (min-width: 1600px) {
  .odin-logo-box {
    height: 9rem;
  }
  .odin-logo-box h1 {
    font-size: 6rem;
  }
  .odin-logo-box img {
    max-width: 16rem;
    max-height: 7rem;
  }
}
